= render partial:'races/header'

.content
  .row
    .col-md-9
      %table.table.table-striped.teams
        %colgroup
          %col{ width:24 }
          %col
          %col{ width:180 }
          %col{ width:110 }
          %col{ width:110 }
          %col{ width:60 }
          %col{ width:110 }
          %col{ width:150 }
        %thead
          %tr
            %th= sort_link @q, :position, '#'
            %th= sort_link @q, :name
            %th= sort_link @q, :team_lead
            %th.text-center= sort_link @q, :attendances_count, 'Anzahl Fahrer'
            %th.text-center= sort_link @q, 0, 'Anzahl Wechsel'
            %th
            %th
            %th
            %th

        - if @teams.any?
          %tbody
            - @teams.each do |team|
              %tr
                %th= team.position
                %td
                  = link_to [@race, team] do
                    - if team.logo.exists?
                      = image_tag team.logo.url(:thumb), style:'vertical-align:center'
                    - if team.has_unassigned_attendances?
                      %span.label.label-danger.pull-right{ title:'Tag-Zuordnungen fehlen', data:{toggle:'tooltip', placement:'left'} } Tag!
                    = team.name
                %td= team.team_lead
                %td.text-center= team.attendances.count
                %td.text-center= team.attendances.driver.events.turn.count
                %td.text-right
                  = link_to edit_race_team_path(@race, team) do
                    = fa_icon 'edit fw'
                    = t(:edit)
                %td.text-right
                  = link_to move_up_race_team_path(@race, team), method: :post, data:{confirm:'Dies verändert die Startnummer. Forfahren?', ok: t('buttons.ok'), cancel: t('buttons.cancel') } do
                    = fa_icon 'chevron-up fw'
                  = link_to move_down_race_team_path(@race, team), method: :post, data:{confirm:'Dies verändert die Startnummer. Forfahren?', ok: t('buttons.ok'), cancel: t('buttons.cancel') } do
                    = fa_icon 'chevron-down fw'
                %td.text-right
                  = destroy_link_to [@race, team]
                %td.text-right
                  - if @race.registrating_team_id == team.id
                    = link_to stop_registrating_race_path(@race), method: :post, data:{confirm:'Team auswählen?', ok: t('buttons.ok'), cancel: t('buttons.cancel') }, class:'btn btn-primary' do
                      = t('Registrierung stoppen')
                  - else
                    = link_to set_registrating_race_team_path(@race, team) , method: :post, data:{confirm:'Team auswählen?', ok: t('buttons.ok'), cancel: t('buttons.cancel') }, class:'btn btn-secondary' do
                      = t('Registrierung starten')

        - else
          %tbody
            %tr
              %td{ colspan:6 }
                %p.text-center Zu diesem Rennen gibt es noch keine Teams.

      = paginate @teams

      %p
        = link_to 'Neues Team', new_race_team_path(@race), class:'btn btn-primary'

    .col-md-3
      .panel.panel-secondary
        .panel-heading
          %h3.panel-title Suche
        = search_form_for @q, url:race_teams_path(@race) do |f|
          .panel-body
            .form-group
              = f.label :name_cont, class:'control-label'
              = f.search_field :name_cont, class:'form-control input-sm'
          .panel-footer
            = f.submit 'Suchen', class:'btn btn-secondary'
            = link_to 'Zurücksetzen', race_teams_path(@race), class:'btn btn-text'

      .panel.panel-secondary
        .panel-heading
          %h3.panel-title Import von Teams &amp; Fahrern
        = form_tag import_race_teams_path(@race), method:'POST', multipart: true do
          .panel-body
            .form-group
              = file_field_tag :import_file, accept:'text/csv', class:'form-control input-sm'
              %p.help-block Zum Anlegen von Teams und Fahrern kann hier eine CSV-Datei hochgeladen werden.
          .panel-footer
            = submit_tag 'Importieren', class:'btn btn-secondary'

