- if @race.active?
  .row
    .col-xs-6.col-md-4
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'clock-o', class:'text-muted'
            %span.timer{ data:{ mode:'timer', start:@race.started_at.to_time.to_i*1000 } }= time_format @race.race_time.utc
        .panel-footer
          %h4.panel-title.text-center Rennzeit
    .col-xs-6.col-md-4
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'arrow-circle-o-right', class:'text-muted'
            %span.timer{ data:{ mode:'countdown', duration:@race.duration*60, start:@race.started_at.to_time.to_i*1000 } }
        .panel-footer
          %h4.panel-title.text-center Rest
    .col-md-4.hidden-xs.hidden-sm
      - if @team.logo.exists?
        = image_tag @team.logo.url(:large), class:'pull-right'

%h1
  %span.position= @team.position
  = @team.name

- st = @team.to_stats
%table.table.table-striped
  %thead
    %tr
      %th Fahrer
      %th.text-right Aktuelle Fahrzeit
      %th.text-right Letzte Fahrzeit
      %th.text-right Fahrpause
      %th.text-right Gesamtzeit
      %th.text-right Anzahl Vergehen
  %tbody
    - s = @team.to_stats.group_by_driver
    - @team.attendances.includes(:driver).each do |att|
      - sd = s[att.driver_id]
      %tr
        %th= att.driver.name
        %td.text-right
          - if @race.active? && att.driver_id == st.current_driver_id
            %span.timer{ data:{ mode:'timer', start:(Time.now - sd.current_drive_time).to_i*1000, warning:@race.max_turn*60, error:(@race.max_turn+@race.waiting_period)*60 } }= seconds_format sd.current_drive_time
          - else
            –
        %td.text-right
          - if att.driver_id == st.current_driver_id
            –
          - else
            = seconds_format sd.last_drive_time
        %td.text-right
          - if @race.planned? || @race.finished? || att.driver_id == st.current_driver_id
            –
          - else
            - if sd.last_break_time.present?
              %span.timer{ data:{ mode:'countdown', start:(Time.now - sd.last_break_time).to_i*1000, duration:@race.break_time*60 } }= seconds_format sd.last_break_time
            - else
              –

        %td.text-right= seconds_format sd.total_drive_time
        %td.text-right= sd.penalty_count

  %tfoot
    %tr
      %td
      %td.text-right
      %td.text-right
      %td.text-right
      %td.text-right= seconds_format @team.to_stats.total_drive_time
      %td.text-right

%h2.subheader Rennen und Team

.row
  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Über das Rennen
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          %tr
            %th= Race.human_attribute_name :state
            %td= t @race.state, scope:'race.states'
          %tr
            %th= Race.human_attribute_name :duration
            %td= minutes_to_time @race.duration
          %tr
            %th= Race.human_attribute_name :max_drive
            %td= minutes_to_time @race.max_drive
          %tr
            %th= Race.human_attribute_name :min_turn
            %td= minutes_to_time @race.min_turn
          %tr
            %th= Race.human_attribute_name :max_turn
            %td
              = minutes_to_time @race.max_turn
              + #{minutes_to_time @race.waiting_period} Karenz
          %tr
            %th= Race.human_attribute_name :break_time
            %td= minutes_to_time @race.break_time

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Über das Team
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          %tr
            %th= Team.human_attribute_name :position
            %td= @team.position
          %tr
            %th= Team.human_attribute_name :name
            %td= @team.name
          %tr
            %th= Team.human_attribute_name :team_lead
            %td= @team.team_lead
          %tr
            %th= Team.human_attribute_name :team_token
            %td
              = external_link_to @team          
          %tr
            %th Anzahl Wechsel
            %td= @team.turns_count

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Fahrer und Tagzuordnung
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          - @team.attendances.includes(:driver).each do |attendance|
            %tr
              %td
                = fa_icon 'user'
                = attendance.driver.name
              %td.text-right
                - if attendance.is_unassigned?
                  %span.label.label-danger{ title:'Tag-Zuordnung fehlt', data:{toggle:'tooltip', placement:'bottom'} } Tag!
                - else
                  %span.label.label-success OK

- content_for :bottom do
  :coffee
    $ ->
      $(document).on 'timer:error', (evt, diff) ->
        $(evt.target).toggleClass 'error', true
      $(document).on 'timer:warning', (evt, diff) ->
        $(evt.target).toggleClass 'warning', true
