= render partial:'races/header'

%h1
  %span.position= @team.position
  = @team.name

- st = @team.to_stats
%table.table.table-striped
  %thead
    %tr
      %th Fahrer
      %th.text-right Aktuelle Fahrzeit
      %th.text-right Letzte Fahrzeit
      %th.text-right Fahrpause
      %th.text-right Gesamtzeit
      %th.text-right Anzahl Fehler
  %tbody
    - s = @team.to_stats.group_by_driver
    - @team.attendances.includes(:driver).each do |att|
      - sd = s[att.driver_id]
      %tr
        %th= att.driver.name
        %td.text-right
          - if @race.active? && att.driver_id == st.current_driver_id
            %span.timer{ data:{ mode:'timer', start:(Time.now - sd.current_drive_time).to_i*1000, warning:@race.max_turn*60, error:(@race.max_turn+@race.waiting_period)*60 } }= seconds_format sd.current_drive_time
          - else
            –
        %td.text-right
          - if att.driver_id == st.current_driver_id
            –
          - else
            = seconds_format sd.last_drive_time
        %td.text-right
          - if @race.planned? || @race.finished? || att.driver_id == st.current_driver_id
            –
          - else
            - if sd.last_break_time.present?
              %span.timer{ data:{ mode:'countdown', start:(Time.now - sd.last_break_time).to_i*1000, duration:@race.break_time*60 } }= seconds_format sd.last_break_time
            - else
              –

        %td.text-right= seconds_format sd.total_drive_time
        %td.text-right= sd.penalty_count

  %tfoot
    %tr
      %td
      %td.text-right
      %td.text-right
      %td.text-right
      %td.text-right= seconds_format @team.to_stats.total_drive_time
      %td.text-right

%h2.subheader Vergehen

%table.table.table-striped
  %colgroup
    %col{ width:180 }
    %col{ width:180 }
    %col
  %thead
    %tr
      %th Zeit
      %th Fahrer
      %th Begründung
  - if @penalties.any?
    %tbody
      - @penalties.each do |p|
        %tr
          %td= l p.created_at, format: :short
          %td= p.driver.name
          %td= p.reason
  - else
    %tbody
      %tr.info
        %td{ colspan:3 }
          %p.text-center Keine Strafen verhängt.


.row
  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Stammdaten
      %table.table
        %colgroup
          %col{ width:'40%' }
          %col
        %tbody
          %tr
            %th= Team.human_attribute_name :position
            %td= @team.position
          %tr
            %th= Team.human_attribute_name :name
            %td
              - if @team.logo.exists?
                = image_tag @team.logo.url(:thumb), class:'pull-right img-thumbnail'
              = @team.name
          %tr
            %th= Team.human_attribute_name :team_lead
            %td= @team.team_lead
          %tr
            %th= Team.human_attribute_name :team_token
            %td
              = external_link_to @team
          %tr
            %th= Team.human_attribute_name :created_at
            %td= l @team.created_at
          %tr
            %th= Team.human_attribute_name :updated_at
            %td= l @team.updated_at

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Fahrer und Tagzuordnung
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          - @team.attendances.includes(:driver).each do |attendance|
            %tr
              %td
                = fa_icon 'user'
                = attendance.driver.name
              %td.text-right
                - if attendance.is_unassigned?
                  %span.label.label-danger{ title:'Tag-Zuordnung fehlt', data:{toggle:'tooltip', placement:'bottom'} } Tag!
                - else
                  %span.label.label-success OK
                  <%= link_to "Entfernen", reset_tag_assignment_drivers_path(attendance_id: @attendance.id), method: :put %>

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading
        %h3.panel-title Teamzeiten und Fahrerwechsel
      %table.table
        %tbody
          - s = @team.to_stats
          %tr
            %th Aktive Fahrer
            %td= s.active_driver_count
          %tr
            %th Gesamt Fahrzeit
            %td= seconds_format s.total_drive_time
          %tr
            %th ø Fahrzeit
            %td= seconds_format s.average_drive_time
          %tr
            %th Min. Fahrzeit
            %td= seconds_format s.minimum_drive_time
          %tr
            %th Max. Fahrzeit
            %td= seconds_format s.maximum_drive_time          
          %tr
            %th Fahrerwechsel
            %td= @team.turns_count

.form-action
  = link_to 'Team bearbeiten', edit_race_team_path(@race, @team), class:'btn btn-primary'
  = link_to 'zurück', race_teams_path(@race), class:'btn btn-link'
