= render partial:'races/header'

%h1= @team.name

.row
  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading Stammdaten
      %table.table
        %colgroup
          %col{ width:'40%' }
          %col
        %tbody
          %tr
            %th= Team.human_attribute_name :name
            %td
              - if @team.logo.exists?
                = image_tag @team.logo.url(:thumb), class:'pull-right img-thumbnail'
              = @team.name
          %tr
            %th= Team.human_attribute_name :team_lead
            %td= @team.team_lead
          %tr
            %th= Team.human_attribute_name :team_token
            %td
              = external_link_to @team
          %tr
            %th= Team.human_attribute_name :created_at
            %td= l @team.created_at
          %tr
            %th= Team.human_attribute_name :updated_at
            %td= l @team.updated_at

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading Fahrer
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          - @team.attendances.includes(:driver).each do |attendance|
            %tr
              %td
                - if attendance.is_unassigned?
                  %span.label.label-danger.pull-right{ title:'Tag-Zuordnung fehlt', data:{toggle:'tooltip', placement:'bottom'} } Tag!
                = fa_icon 'user'
                = attendance.driver.name
              %td.text-right
                - if attendance.driver_id == @team.to_stats.current_driver_id
                  = fa_icon 'user', title:'Aktueller Fahrer'
                  = seconds_format @team.to_stats.current_drive_time
                - if attendance.driver_id == @team.to_stats.last_driver_id
                  = fa_icon 'user', title:'Aktueller Fahrer', class:'text-muted'
                  = seconds_format @team.to_stats.last_drive_time

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading Statistik
      %table.table
        %tbody
          - s = @team.to_stats
          %tr
            %th Aktive Fahrer
            %td= s.active_driver_count
          %tr
            %th Gesamt Fahrzeit
            %td= seconds_format s.total_drive_time
          %tr
            %th ø Fahrzeit
            %td= seconds_format s.average_drive_time
          %tr
            %th Min. Fahrzeit
            %td= seconds_format s.minimum_drive_time
          %tr
            %th Max. Fahrzeit
            %td= seconds_format s.maximum_drive_time

= link_to 'Team bearbeiten', edit_race_team_path(@race, @team), class:'btn btn-primary'
= link_to 'zurück', race_teams_path(@race), class:'btn btn-link'
