= render partial:'races/header'

%h1= @team.name

.row
  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading Stammdaten
      %table.table
        %colgroup
          %col{ width:'40%' }
          %col
        %tbody
          %tr
            %th= Team.human_attribute_name :name
            %td
              = image_tag @team.logo.url(:thumb), class:'pull-right img-thumbnail'
              = @team.name
          %tr
            %th= Team.human_attribute_name :statistic
            %td
              = external_link_to @team
          %tr
            %th= Team.human_attribute_name :created_at
            %td= l @team.created_at
          %tr
            %th= Team.human_attribute_name :updated_at
            %td= l @team.updated_at

  .col-md-4
    .panel.panel-default.panel-info.panel-compact
      .panel-heading Fahrer
      %table.table
        %colgroup
          %col{ width:'50%' }
          %col
        %tbody
          - @team.attendances.includes(:driver).each do |attendance|
            %tr
              %td
                - if attendance.is_unassigned?
                  %span.label.label-danger.pull-right{ title:'Tag-Zuordnung fehlt', data:{toggle:'tooltip', placement:'left'} } Tag!
                = fa_icon 'user'
                = attendance.driver.name
              %td.text-right= time_format attendance.total_drivetime

= link_to 'Team bearbeiten', edit_race_team_path(@race, @team), class:'btn btn-primary'
= link_to 'zurück', race_teams_path(@race), class:'btn btn-text'
