- if @race.active?
  .row
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'clock-o', class:'text-muted'
            %span.timer{ data:{ mode:'timer', start:current_race.started_at.to_time.to_i*1000 } }= current_race.race_time.utc.strftime('%H:%M:%S')
        .panel-footer
          %h4.panel-title.text-center Rennzeit
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'arrow-circle-o-right', class:'text-muted'
            %span.timer{ data:{ mode:'countdown', duration:current_race.duration*60, start:current_race.started_at.to_time.to_i*1000 } }
        .panel-footer
          %h4.panel-title.text-center Rest
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'users', class:'text-muted'
            = @race.teams.count
        .panel-footer
          %h4.panel-title.text-center Anzahl Teams
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'user', class:'text-muted'
            = @race.drivers.count
        .panel-footer
          %h4.panel-title.text-center Anzahl Fahrer

%ul.nav.nav-tabs
  = nav_link_to overview_race_path(@race) do
    = fa_icon 'tachometer'
    Aktueller Stand
  = nav_link_to race_teams_path(@race) do
    = fa_icon 'users'
    Teams
  = nav_link_to race_events_path(@race) do
    = fa_icon 'info-circle'
    Events
  = nav_link_to settings_race_path(@race) do
    = fa_icon 'wrench'
    Einstellungen
  = yield :subnav
