%h1 Alle Rennen

%table.table.table-striped
  %colgroup
    %col{ width:120 }
    %col
    %col{ width:180 }
    %col{ width:110 }
    %col{ width:110 }
  %thead
    %tr
      %th= sort_link @q, :state
      %th= sort_link @q, :name
      %th.text-center= sort_link @q, :scheduled
      %th
      %th

  - if @races.any?
    %tbody
      - @races.each do |race|
        %tr
          %td
            %span.label.label-default= t race.state, scope:'race.states'
          %td= link_to race.name, race
          %td.text-center= l race.scheduled
          %td.text-right
            = link_to edit_race_path(race) do
              = fa_icon 'edit fw'
              = t(:edit)
          %td.text-right
            = destroy_link_to race
  - else
    %tbody
      %tr.info
        %td{ colspan:4 }
          %p.text-center Keine Rennen angelegt.

= paginate @races

%p
  = link_to 'Neues Rennen', new_race_path, class:'btn btn-primary'
