%h1 Alle Rennen

%table.table.table-striped
  %colgroup
    %col{ width:120 }
    %col
    %col{ width:180 }
    %col{ width:80 }
    %col{ width:80 }
  %thead
    %tr
      %th= sort_link @q, :state
      %th= sort_link @q, :name
      %th.text-right= sort_link @q, :scheduled
      %th
      %th

  - if @races.any?
    %tbody
      - @races.each do |race|
        %tr
          %td
            %span.label.label-default= t race.state, scope:'race.states'
          %td= link_to race.name, race
          %td.text-right= l race.scheduled
          %td= link_to t('edit'), edit_race_path(race)
          %td= link_to t('destroy'), race, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    %tbody
      %tr.info
        %td{ colspan:4 }
          %p.text-center Keine Rennen angelegt.

= paginate @races

%p
  = link_to 'Neues Rennen', new_race_path, class:'btn btn-primary'
