= render partial:'header'

.content
  %ul.block-grid-xs-2.block-grid-sm-4.block-grid-md-6.block-grid-lg-8
    - c = Time.zone.now.to_i*1000
    - @race.teams.includes(:attendances, :events).each do |team|
      %li.team
        .panel.panel-default.panel-info.panel-compact
          .panel-heading
            %h4.panel-title
              .pull-right
                %span.timer{ data:{ mode:'countdown', duration:(60*5), current:c } } 00:00
              = link_to team.name, [@race, team]
          %table.table.table-condensed
            %colgroup
              %col{ width:32 }
              %col
            %tbody
              %tr
                %th.text-muted= fa_icon 'clock-o'
                %td.text-right
                  %span.timer{ data:{ mode:'timer', current:c } } 00:00
              - if team.last_driver.present?
                %tr
                  %th.text-muted= fa_icon 'user'
                  %td.text-right
                    = (team.current_driver || team.last_driver).name
