- if @race.active?
  .row
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'clock-o', class:'text-muted'
            %span.timer{ data:{ mode:'timer', start:current_race.started_at.to_time.to_i*1000 } }= time_format current_race.race_time.utc
        .panel-footer
          %h4.panel-title.text-center Rennzeit
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'arrow-circle-o-right', class:'text-muted'
            %span.timer{ data:{ mode:'countdown', duration:current_race.duration*60, start:current_race.started_at.to_time.to_i*1000 } }
        .panel-footer
          %h4.panel-title.text-center Rest
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'users', class:'text-muted'
            = @race.teams.count
        .panel-footer
          %h4.panel-title.text-center Anzahl Teams
    .col-xs-6.col-md-3
      .panel.panel-info.card
        .panel-body
          .text-center.text-large
            = fa_icon 'user', class:'text-muted'
            = @race.to_stats.active_driver_count
        .panel-footer
          %h4.panel-title.text-center Anzahl aktive Fahrer

.content
  %ul.block-grid-xs-2.block-grid-sm-4.block-grid-md-6.block-grid-lg-8
    - stats = @race.to_stats.group_by_team
    - @race.teams.includes(:events, :drivers).each do |team|
      %li.team{ data:{ name:team.name.downcase } }
        = render partial:'teams/team', locals:{ race:@race, team:team, stats:stats[team.id] }

- content_for :bottom do
  :coffee
    $ ->
      $(document).on 'timer:error', (evt, diff) ->
        $(evt.target).toggleClass 'error', true
        $(evt.target).closest('.panel').removeClass('panel-secondary panel-info').addClass('panel-danger')
      $(document).on 'timer:warning', (evt, diff) ->
        $(evt.target).toggleClass 'warning', true
      $('#search').keyup ->
        $('.team').show()
        if $(this).val() != ''
          $('.team').not('[data-name*="' + $(this).val() + '"]').hide()

