= render partial:'races/header'

.content
  .row
    .col-md-9
      %table.table
        %thead
          %tr
            %th Name
            %th Fahrer
            %th
            %th

        - if @events.any?
          %tbody
            - @events.each do |event|
              %tr
                %td= link_to event.team.name, [@race, event.team]
                %td= event.driver.name
                %td= t event.mode, scope:'event.modes'
                %td= event.created_at
        - else
          %tbody
            %tr
              %td{ colspan:4 }
                %p.text-center Zu diesem Rennen gibt es noch keine Event-Daten.

      = paginate @events

    .col-md-3
      .panel.panel-secondary
        .panel-heading
          %h3.panel-title Manuelle Erfassung
        = simple_form_for [@race, Event.new] do |f|
          .panel-body
            = f.input :driver_id, as: :select, collection:@race.drivers.order(:name), input_html:{ class:'input-sm' }
            = f.input :mode, as: :radio_buttons, collection:Event.modes.map{|k, _v| [I18n.t(k, scope:'event.modes'), k]}
          .panel-footer
            = f.submit 'Anlegen', class:'btn btn-secondary'
