= render partial:'races/header'

.content
  .row
    .col-md-9
      %table.table.table-striped
        %colgroup
          %col{ width:'20%' }
          %col
          %col{ width:'10%' }
          %col{ width:'15%' }
          %col{ width:'15%' }
        %thead
          %tr
            %th= sort_link @q, :name
            %th= sort_link @q, :driver_id, 'Name'
            %th= sort_link @q, :mode
            %th= sort_link @q, :created_at
            %th

        - if @events.any?
          %tbody
            - @events.each do |event|
              %tr
                %td
                  = link_to [@race, event.team] do
                    %span.position= event.team.position
                    = event.team.name
                %td
                  - if event.penalty.present?
                    %span.label.label-danger.pull-right{ title:event.penalty.reason, data:{toggle:'tooltip', placement:'left'} }= fa_icon 'gavel'
                  = event.driver.name
                %td{ class:(event.arriving? ? 'text-left' : 'text-right') }
                  = t event.mode, scope:'event.modes'
                %td= l event.created_at
                %td
                  = link_to 'Korrigieren', details_race_event_path(@race, event)
        - else
          %tbody
            %tr
              %td{ colspan:4 }
                %p.text-center Zu diesem Rennen gibt es noch keine Event-Daten.

      = paginate @events

    .col-md-3
      .panel.panel-secondary
        .panel-heading
          %h3.panel-title Suche
        = search_form_for @q, url:race_events_path(@race), class:'simple_form' do |f|
          .panel-body
            .form-group.select
              = f.label :team_id_eq, class:'select control-label'
              - selected_team_id = (params[:q] || {})[:team_id_eq]
              = f.select :team_id_eq, options_from_collection_for_select(@race.teams, :id, :position_and_name, selected_team_id), { include_blank:true }, class:'select form-control input-sm'
            .form-group.select
              = f.label :mode_eq, class:'select control-label'
              - selected_mode = (params[:q] || {})[:mode_eq]
              = f.select :mode_eq, options_for_select(Event.modes.map{|k ,v| [I18n.t(k, scope:'event.modes'), v]}, selected_mode), { include_blank:true }, class:'select form-control input-sm'
          .panel-footer
            = f.submit 'Suchen', class:'btn btn-secondary'
            = link_to 'Zurücksetzen', race_events_path(@race), class:'btn btn-text'

      .panel.panel-secondary
        .panel-heading
          %h3.panel-title Manuelle Erfassung
        = simple_form_for [@race, Event.new] do |f|
          .panel-body
            = f.input :driver_id, as: :grouped_select, collection:@race.teams.order('position asc'), group_label_method: :position_and_name, group_method: :drivers, input_html:{ class:'input-sm' }
            = f.input :mode, as: :radio_buttons, collection:Event.modes.map{|k, _v| [I18n.t(k, scope:'event.modes'), k]}, disabled:(@race.leaving? ? 'arriving' : '')
          .panel-footer
            = f.submit 'Anlegen', class:'btn btn-secondary'
