%h1 Alle Fahrer

%table.table.table-striped
  %colgroup
    %col
    %col{ width:80 }
    %col{ width:80 }
  %thead
    %tr
      %th Name
      %th
      %th

  - if @drivers.any?
    %tbody
      - @drivers.each do |driver|
        %tr
          %td= link_to driver.name, driver
          %td= link_to t('edit'), edit_driver_path(driver)
          %td= link_to t('destroy'), driver, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    %tbody
      %tr.info
        %td{ colspan:4 }
          %p.text-center Keine Fahrer angelegt.


= paginate @drivers

= link_to 'New Driver', new_driver_path, class:'btn btn-primary'
