%h1 Bekannte Anwender

%table.table.table-striped
  %colgroup
    %col
    %col{ width:80 }
    %col{ width:110 }
  %thead
    %tr
      %th Email
      %th
      %th

  - if @users.any?
    %tbody
      - @users.each do |user|
        %tr
          %td.monospace= link_to user.email, [:admin, user]
          %td= link_to 'Bearbeiten', edit_admin_user_path(user)
          %td= destroy_link_to [:admin, user]
  - else
    %tbody
      %tr.info
        %td{ colspan:3 }
          %p.text-center Keine Anwender angelegt.

= paginate @users

= link_to 'Neuer Anwender', new_admin_user_path, class:'btn btn-primary'
