!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Teamcontrol'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    .main{ role:'main' }
      .container
        = render 'layouts/messages'
        = yield
    %footer
      = render 'layouts/footer'
    = javascript_include_tag 'application'
